<?xml version="1.0" encoding="UTF-8"?>
<root>
    <configurations>
        <config id="1" platform="Moku:Pro" firmware="591" comb_id="1" description="Turnkey and Feedback.">
            <instruments>
                <instrument type="Oscilloscope" slot="4" />
                <instrument type="CloudCompile" slot="3" purpose="feedback">
                    <bitstream>feedback_pro_591</bitstream>
                    <parameters>
                        <parameter name="fast_PID_K_P" index="2" high="31" low="0" value="4294443008" />
                        <parameter name="fast_PID_K_I" index="3" high="31" low="0" value="4261412864" />
                        <parameter name="fast_PID_K_D" index="4" high="31" low="0" value="4294836224" />
                        <parameter name="monitorC" index="1" high="15" low="12" value="0" />
                        <parameter name="monitorD" index="1" high="19" low="16" value="0" />
                        <parameter name="segments_enabled" index="1" high="11" low="8" value="0" />
                        <parameter name="set_address" index="1" high="7" low="4" value="0" />
                        <parameter name="slow_PID_K_P" index="8" high="31" low="0" value="4096" />
                        <parameter name="slow_PID_K_I" index="9" high="31" low="0" value="4096" />
                        <parameter name="slow_PID_K_D" index="10" high="31" low="0" value="0" />
                        <parameter name="set_x" index="5" high="31" low="0" value="31250000" />
                        <parameter name="set_y" index="6" high="31" low="16" value="3355" />
                        <parameter name="set_slope" index="6" high="15" low="0" value="0" />
                        <parameter name="frequency_bias" index="7" high="31" low="16" value="33554" />
                        <parameter name="amplitude" index="7" high="15" low="0" value="28672" />
                        <parameter name="fast_PID_Reset" index="0" high="10" low="10" value="1" />
                        <parameter name="slow_PID_Reset" index="0" high="11" low="11" value="1" />
                        <parameter name="LO_Reset" index="0" high="1" low="1" value="1" />
                        <parameter name="set_sign" index="0" high="2" low="2" value="0" />
                        <parameter name="initiate" index="0" high="3" low="3" value="1" />
                        <parameter name="periodic" index="0" high="4" low="4" value="1" />
                        <parameter name="prolong" index="0" high="5" low="5" value="0" />
                        <parameter name="lock_mode" index="0" high="9" low="8" value="0" />
                        <parameter name="slow_input" index="0" high="6" low="6" value="1" />
                        <parameter name="set" index="0" high="7" low="7" value="1" />
                        <parameter name="enable_auto_match" index="0" high="12" low="12" value="1" />
                        <parameter name="initiate_auto_match" index="0" high="13" low="13" value="1" />
                        <parameter name="frequency_match_threshold" index="11" high="31" low="16" value="268" />
                        <parameter name="frequency_lock_threshold" index="11" high="15" low="0" value="3" />
                        <parameter name="frequency_match_K_P" index="12" high="31" low="0" value="4294950912" />
                        <parameter name="frequency_match_K_I" index="13" high="31" low="0" value="4294959104" />
                        <parameter name="frequency_match_K_D" index="14" high="31" low="0" value="0" />
                        <parameter name="fast_PID_decay" index="15" high="31" low="16" value="16384" />
                        <parameter name="slow_PID_decay" index="15" high="15" low="0" value="16384" />
                        <parameter name="phase_unwrap" index="0" high="15" low="15" value="1" />
                    </parameters>
                </instrument>
                <instrument type="CloudCompile" slot="2" purpose="turnkey">
                    <bitstream>turnkey_pro_591</bitstream>
                    <parameters>
                        <parameter name="drop_period" index="1" high="31" low="16" value="7324" />
                        <parameter name="climb_period" index="1" high="15" low="0" value="24028" />
                        <parameter name="kick_period" index="2" high="31" low="16" value="488" />
                        <parameter name="hold_period" index="2" high="15" low="0" value="7324" />
                        <parameter name="max_voltage" index="3" high="31" low="16" value="14927" />
                        <parameter name="min_voltage" index="3" high="15" low="0" value="5971" />
                        <parameter name="step_voltage" index="4" high="31" low="16" value="20" />
                        <parameter name="drop_amplitude" index="4" high="15" low="0" value="14634" />
                        <parameter name="climb_amplitude" index="5" high="31" low="16" value="15232" />
                        <parameter name="kick_amplitude" index="5" high="15" low="0" value="598" />
                        <parameter name="soliton_threshold_max" index="6" high="31" low="16" value="4608" />
                        <parameter name="soliton_threshold_min" index="6" high="15" low="0" value="1536" />
                        <parameter name="attempts" index="7" high="31" low="24" value="1" />
                        <parameter name="approaches" index="7" high="23" low="16" value="64" />
                        <parameter name="coarse_target" index="7" high="15" low="0" value="1008" />
                        <parameter name="fine_target" index="8" high="31" low="16" value="96" />
                        <parameter name="coarse_period" index="8" high="15" low="0" value="4077" />
                        <parameter name="fine_period" index="9" high="31" low="16" value="20385" />
                        <parameter name="stab_target" index="9" high="15" low="0" value="2048" />
                        <parameter name="stab_period" index="10" high="31" low="16" value="2548" />
                        <parameter name="floor" index="10" high="15" low="0" value="65472" />
                        <parameter name="PID_K_P" index="11" high="31" low="0" value="65280" />
                        <parameter name="PID_K_I" index="12" high="31" low="0" value="57088" />
                        <parameter name="PID_K_D" index="13" high="31" low="0" value="0" />
                        <parameter name="mode" index="0" high="1" low="1" value="0" />
                        <parameter name="sweep_period" index="14" high="31" low="16" value="404" />
                        <parameter name="PID_lock" index="0" high="2" low="2" value="1" />
                        <parameter name="input_gain" index="14" high="7" low="0" value="16" />
                        <parameter name="output_gain" index="14" high="15" low="8" value="32" />
                        <parameter name="manual_offset" index="15" high="31" low="16" value="0" />
                        <parameter name="Reset" index="0" high="0" low="0" value="0" />
                    </parameters>
                </instrument>
            </instruments>
            <connections>
                <connection source="Input1" destination="Slot2InA" />
                <connection source="Slot2OutA" destination="Output1" />
                <connection source="Input2" destination="Slot3InA" />
                <connection source="Slot3OutA" destination="Output4" />
                <connection source="Slot3OutB" destination="Output3" />
                <connection source="Slot3OutC" destination="Output2" />
                <connection source="Input2" destination="Slot4InA" />
                <connection source="Slot3OutC" destination="Slot4InB" />
            </connections>
            <io_settings>
                <input channel="1" impedance="1MOhm" coupling="DC" attenuation="0dB" />
                <input channel="2" impedance="1MOhm" coupling="DC" attenuation="0dB" />
                <output channel="1" gain="14dB" />
                <output channel="2" gain="0dB" />
                <output channel="3" gain="14dB" />
                <output channel="4" gain="14dB" />
            </io_settings>
        </config>
        <config id="2" platform="Moku:Pro" firmware="591" comb_id="1" description="Turnkey only.">
            <instruments>
                <instrument type="CloudCompile" slot="2" purpose="turnkey">
                    <bitstream>turnkey_pro_591</bitstream>
                    <parameters>
                        <parameter name="drop_period" index="1" high="31" low="16" value="7324" />
                        <parameter name="climb_period" index="1" high="15" low="0" value="24028" />
                        <parameter name="kick_period" index="2" high="31" low="16" value="488" />
                        <parameter name="hold_period" index="2" high="15" low="0" value="7324" />
                        <parameter name="max_voltage" index="3" high="31" low="16" value="14927" />
                        <parameter name="min_voltage" index="3" high="15" low="0" value="5971" />
                        <parameter name="step_voltage" index="4" high="31" low="16" value="20" />
                        <parameter name="drop_amplitude" index="4" high="15" low="0" value="14634" />
                        <parameter name="climb_amplitude" index="5" high="31" low="16" value="15232" />
                        <parameter name="kick_amplitude" index="5" high="15" low="0" value="598" />
                        <parameter name="soliton_threshold_max" index="6" high="31" low="16" value="4608" />
                        <parameter name="soliton_threshold_min" index="6" high="15" low="0" value="1536" />
                        <parameter name="attempts" index="7" high="31" low="24" value="1" />
                        <parameter name="approaches" index="7" high="23" low="16" value="64" />
                        <parameter name="coarse_target" index="7" high="15" low="0" value="1008" />
                        <parameter name="fine_target" index="8" high="31" low="16" value="96" />
                        <parameter name="coarse_period" index="8" high="15" low="0" value="4077" />
                        <parameter name="fine_period" index="9" high="31" low="16" value="20385" />
                        <parameter name="stab_target" index="9" high="15" low="0" value="2048" />
                        <parameter name="stab_period" index="10" high="31" low="16" value="2548" />
                        <parameter name="floor" index="10" high="15" low="0" value="65472" />
                        <parameter name="PID_K_P" index="11" high="31" low="0" value="65280" />
                        <parameter name="PID_K_I" index="12" high="31" low="0" value="57088" />
                        <parameter name="PID_K_D" index="13" high="31" low="0" value="0" />
                        <parameter name="mode" index="0" high="1" low="1" value="0" />
                        <parameter name="sweep_period" index="14" high="31" low="16" value="404" />
                        <parameter name="PID_lock" index="0" high="2" low="2" value="1" />
                        <parameter name="input_gain" index="14" high="7" low="0" value="16" />
                        <parameter name="output_gain" index="14" high="15" low="8" value="32" />
                        <parameter name="manual_offset" index="15" high="31" low="16" value="0" />
                        <parameter name="Reset" index="0" high="0" low="0" value="0" />
                    </parameters>
                </instrument>
            </instruments>
            <connections>
                <connection source="Input1" destination="Slot2InA" />
                <connection source="Slot2OutA" destination="Output1" />
            </connections>
            <io_settings>
                <input channel="1" impedance="1MOhm" coupling="DC" attenuation="0dB" />
                <output channel="1" gain="14dB" />
            </io_settings>
        </config>
        <config id="3" platform="Moku:Go" firmware="591" comb_id="2" description="Tuenky only.">
            <instrument type="CloudCompile" slot="2" purpose="turnkey">
                <bitstream>turnkey_go_591</bitstream>
                <parameters>
                    <parameter name="drop_period" index="1" high="31" low="16" value="7324" />
                    <parameter name="climb_period" index="1" high="15" low="0" value="24028" />
                    <parameter name="kick_period" index="2" high="31" low="16" value="488" />
                    <parameter name="hold_period" index="2" high="15" low="0" value="7324" />
                    <parameter name="max_voltage" index="3" high="31" low="16" value="14927" />
                    <parameter name="min_voltage" index="3" high="15" low="0" value="5971" />
                    <parameter name="step_voltage" index="4" high="31" low="16" value="20" />
                    <parameter name="drop_amplitude" index="4" high="15" low="0" value="14634" />
                    <parameter name="climb_amplitude" index="5" high="31" low="16" value="15232" />
                    <parameter name="kick_amplitude" index="5" high="15" low="0" value="598" />
                    <parameter name="soliton_threshold_max" index="6" high="31" low="16" value="4608" />
                    <parameter name="soliton_threshold_min" index="6" high="15" low="0" value="1536" />
                    <parameter name="attempts" index="7" high="31" low="24" value="1" />
                    <parameter name="approaches" index="7" high="23" low="16" value="64" />
                    <parameter name="coarse_target" index="7" high="15" low="0" value="1008" />
                    <parameter name="fine_target" index="8" high="31" low="16" value="96" />
                    <parameter name="coarse_period" index="8" high="15" low="0" value="4077" />
                    <parameter name="fine_period" index="9" high="31" low="16" value="20385" />
                    <parameter name="stab_target" index="9" high="15" low="0" value="2048" />
                    <parameter name="stab_period" index="10" high="31" low="16" value="2548" />
                    <parameter name="floor" index="10" high="15" low="0" value="65472" />
                    <parameter name="PID_K_P" index="11" high="31" low="0" value="65280" />
                    <parameter name="PID_K_I" index="12" high="31" low="0" value="57088" />
                    <parameter name="PID_K_D" index="13" high="31" low="0" value="0" />
                    <parameter name="mode" index="0" high="1" low="1" value="0" />
                    <parameter name="sweep_period" index="14" high="31" low="16" value="404" />
                    <parameter name="PID_lock" index="0" high="2" low="2" value="1" />
                    <parameter name="input_gain" index="14" high="7" low="0" value="16" />
                    <parameter name="output_gain" index="14" high="15" low="8" value="32" />
                    <parameter name="manual_offset" index="15" high="31" low="16" value="0" />
                    <parameter name="Reset" index="0" high="0" low="0" value="0" />
                </parameters>
            </instrument>
            <connections>
                <connection source="Input1" destination="Slot1InA" />
                <connection source="Slot1OutA" destination="Output1" />
            </connections>
            <io_settings>
                <input channel="1" impedance="1MOhm" coupling="DC" attenuation="0dB" />
                <output channel="1" gain="14dB" />
            </io_settings>
        </config>
    </configurations>
</root>
